body {
  font-family: sans-serif;
}

#doSomething {
  margin: 25px auto;
  display: block;
}

#circle {
  height: 150px;
  width: 150px;
  background-color: black;
  border-radius: 50%;
  margin: 25px auto;
  transition: background 500ms;
}

#adeleButton, #beyonceButton, #drakeButton, #rihannaButton {
	margin: 20px;
	border-radius: 80px;
	height: 120px;
	width: 120px;
	font-family: LATO;
	font-size: 18px;

}

.artist{
	background-color: black;
	color: white;
}

#adelebio{
	padding-top: 10px;
	font-size: 20px;
}